*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    min-height: 35em;
    background: linear-gradient(to bottom, hsla(303, 36%, 90%, 0.8), hsla(163, 32%, 85%, 0.8));
    box-shadow: 0 4px 12px rgba(112, 146, 196, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.navbar-container {
    position: absolute;
    top: 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(112, 146, 196, 0.15);
    background: linear-gradient(90deg, hsla(120, 29%, 97%, 0.9), hsla(150, 18%, 96%, 0.6)); /* refined gradient */
    margin-bottom: 3rem;
}

.hamburger {
  display: none; /* hidden*/
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.navbar-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

nav li{
    list-style: none;
}

.nav-item a {
    display: block;
    padding: 0.8rem 1.5rem;
    border-radius: 35px;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    transition: all 0.3s ease; /* smooth dancing effect*/
}

.nav-item a:hover {
    transform: translateY(-2px); 
    color: #45a1a1;
}

.pic-container {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100%;        
}

.pic-container img {
    width: 220px; 
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s ease; 
}

.pic-container img:hover {
    transform: scale(1.05); /* zoom effect */
}

.hero-content{
    text-align: center;
    padding-top: 1rem;
}



.footer {
  margin-top: 4rem;
  padding: 1rem;
  text-align: center;
  background: hsla(160, 40%, 92%, 0.8);
  color: #333;
  font-size: 0.9rem;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 0.5rem;
}

.footer-links a {
  text-decoration: none;
  color: #222;
}

.footer-links a:hover {
  text-decoration: underline;
}





/* Responsive styles for small screens */
@media (max-width: 768px){


    .navbar-container{
        padding: 1rem;
        display: none;
    }

    .navbar-container ul{
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 0.5rem;
    }

    .nav-item a{
        padding: 0.75rem;
        border-radius: 20px;
        text-align: center;
    }
}

